@font-face {
    font-family: "RobotoRegular";
    src : url("../fonts/Tahoma.ttf");
}
@font-face {
    font-family: "Times New Roman PS";
    src: url("../fonts/TimesNewRomanPSItalic.ttf") format('truetype');
    src: url('../fonts/TimesNewRomanPS-Italic.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/TimesNewRomanPS-Italic.woff') format('woff');
    src: url('../fonts/TimesNewRomanPS-Italic.svg#TimesNewRomanPS-Italic') format('svg');
    font-weight: normal;
     font-style: normal;
}
